<form>
    <div class="item-sheet ability-sheet">
        <div class="od-header item-sheet-header">
            {{#if (or document.isOwned (not document.isOwner))}}
            {{document.name}}
            {{else}}
            <input type="text" name="name" value="{{document.name}}">
            {{/if}}
        </div>
        <div class="item-description{{#unless document.isOwned}} editable-item{{/unless}}">
            {{#if (or document.isOwned (not document.isOwner))}}
            {{{enrichedDescription}}}
            {{else}}
            {{editor enrichedDescription target="system.description" editable=true collaborate=true engine="prosemirror"}}
            {{/if}}
        </div>
    </div>
</form>
